{% extends "admin/change_list.html" %}
{% load i18n %}

{# Original template renders object-tools only when has_add_permission is True. #}
{# This hack allows sub templates to add to object-tools #}
{% block object-tools %}
  <ul class="object-tools">
    {% block object-tools-items %}
      <a class="btn btn-success" href="export/{{ cl.get_query_string }}" class="export_link">{% trans "Export" %} / Imprimir</a>
      {% if has_add_permission %}
        {{ block.super }}
      {% endif %}
    {% endblock %}
  </ul>
{% endblock %}